@model List<ds_proekt.ViewModels.ReviewDisplayViewModel>
@{
    ViewData["Title"] = "Reviews";
    var searchString = ViewBag.SearchString as string;
}
<link rel="stylesheet" href="~/css/perfume.css" />
<h2>Reviews</h2>
@{
    string role = Context.Session.GetString("UserRole");
}

@if (role == "user")
{
    <a class="btn btn-primary" asp-controller="Review"  asp-action="Create">Add Review</a>
}

<form method="get" asp-controller="Review" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Search by perfume name..." value="@searchString" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Perfume</th>
                    <th>User</th>
                    <th>Rating</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model)
                {
                    <tr>
                        <td>@review.ParfumeName</td>
                        <td>@review.UserEmail</td>
                        <td>@review.Rating</td>
                        <td>@review.Comment</td>
                    </tr>
                }
            </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        No reviews found.
    </div>
}

